@font-face{
    font-family: lacquer;
    src: url(Fonts/Lacquer-Regular.ttf);
}

:root{
    --headerGreen: rgba(0, 24, 32, 0.98);
    --boardBlue: radial-gradient(
        rgb(4, 9, 40),
        rgb(8, 18, 80),
        rgb(8, 18, 80),
        rgb(16, 36, 120),
        rgb(16, 36, 120),
        rgb(16, 36, 240)
    );
    --boardBlack: radial-gradient(
        rgb(0, 5, 30),
        rgb(0, 5, 30)
    );
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: lacquer, 'Times New Roman', Times, serif
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#headerTitle{
    color: var(--headerGreen);
    font-size: 54px;
    font-weight: bold;
    text-shadow: 0 0 1px cyan, 0 0 22px royalblue;
    text-align: center;
    margin: 30px auto 50px auto;
    user-select: none;
}

main{
    width: 620px;
    margin: 0 auto;
}

#centering_Div{
    display: flex;
    justify-content: space-around;
}

    #panel_Div{
        display: grid;
        background-image: var(--boardBlue);      
        border-radius: 3%;
        border: solid 2px rgba(0, 255, 255, 0.65);
        box-shadow: 0 0 7.5px 4px royalblue;  
        margin: auto 0;
        user-select: none;
    }

    #tools_Div{
        color: white;
        font-size: 14px;
        background-image: radial-gradient(
            rgba(0, 255, 255, 0.1),
            rgba(65, 155, 255, 0.4)
        );
        border-radius: 5%;
        padding: 18px 12px;
        margin: auto 0;
        user-select: none;
        box-shadow: 0 0 8px cyan inset;
    }      
        
        .tools{
            text-align: center;
            border: double 1px rgba(0, 255, 255, 0.65);
            background-image: radial-gradient(
                rgba(65, 105, 225, 0.12),
                rgba(65, 105, 225, 0.44)
            );
            border-radius: 3px;
            margin: 5px 0;
            padding: 5px 10px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .tools:hover{
           cursor: pointer; 
           box-shadow: 0 0 7px, 0 0 15px royalblue inset;
           background-image: radial-gradient(
                rgba(0, 255, 255, 0.35),
                rgba(0, 255, 255, 0.60)
            );
            scale: 1.02;
            transition: box-shadow 0.15s;
        }

            #inkColor{
                border: none;
                border-radius: 15%;
                width: 25px;
                height: 20px;
            }
            
            #inkColor::-webkit-color-swatch{

            }
            #inkColor::-webkit-color-swatch-wrapper{
                padding: 0; 
            }
            
            .toolImg_Div{
                width: 20px;
                height: 20px;
                align-content: center;
            }

                .toolImg{
                    padding: auto 0;
                    width: 18px;
                    height: 18px;
                }

                #invert_Div, #bucket_Div{
                cursor: alias;
                opacity: 0.5;
            }

                #invert_Div, #bucket_Div:hover{
                    background-image: radial-gradient(
                        rgba(65, 105, 225, 0.12),
                        rgba(65, 105, 225, 0.44)
                    );
                }

            #boardColor_Div{
                background-image: var(--boardBlue); 
                border: solid 3px rgba(65, 105, 225, 0.45);
                padding: 12px 10px;
            }

            #gridLinesOn-Off{
                color: greenyellow;
            }

            #boardSize_Div{
                margin: 15px auto;
                padding: 5px 2px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                background-image: linear-gradient(
                    rgba(0, 255, 255, 0.01),    
                    rgba(0, 255, 255, 0.18),
                    rgba(0, 255, 255, 0.01),  
                    rgba(0, 255, 255, 0.01)        
                );
            }

                #boardSize_Div > p{
                    margin: 0 auto;
                }

                #boardSizeLabel_text{
                    color: rgb(173, 255, 47);
                }

                #boardSizeLabel_Num{
                    font-family: 'Times New Roman', Times, serif;
                    font-size: large;
                }  
            
            input[type="range"] {
                height: 4px;
                background: rgba(0, 255, 255, 0.6);
                appearance: none;
                outline: none;
                border: solid 1px rgba(0, 0, 0, 0.2);
                border-radius: 8%;
                margin-top: 15px;
            }
            
            input[type="range"]::-webkit-slider-thumb {
                appearance: none;
                width: 0;
                height: 0;
                border-top: 12px solid transparent;
                border-bottom: 12px solid transparent;
                border-left: 15px solid cyan;
                transform: rotate(90deg);
            }

            input[type='range']::-webkit-slider-runnable-track {

            }